/*Vetsi nez 750 px*/
@media (min-width: 750px) {
    .formularText {
        text-align: center;
        font-weight: bold;

    }

    #logo {
        background: url('../pics/logo.png') no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        width: 96px;
        height: 95px;
        float: left;
        margin: 7px 20px 0px 20px;
    }

    header {
        background-color: #69003B;
        background-attachment: fixed;
        background-position: top center;
        background-size: cover;
        position: relative;
        padding-bottom: 15px;
    }

    main {
        width: 90%;
        margin: 0 auto;
        background-color: #C2B18F;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 0px;
    }

    nav.menu ul li {
        width: auto;
        border-width: medium;
        margin: 0 4% 0 4%;
        display: inline-block;
    }

    nav.menu a {
        line-height: 20px;
    }

    body {
        margin: 0;
        background-color: #C2B18F;
        background-repeat: no-repeat;
        background-size: cover;
    }


    nav.menu ul {
        background: #580040;
        position: relative;
        width: 100%;
        text-align: center;
    }

    .body_div {
        position: relative;
        margin-top: -10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .active {
        border-width: 5px;
        border-style: inset;
        border-color: #8D006E;
    }

    a {
        color: #8D006E;
    }

    a:link {
        color: #ffffff;
    }

    a:hover {
        color: #8D006E;
    }

    a.aktivni {
        color: #8D006E;
    }

    .head_text {
        padding-left: 5px;
        font-size: 40px;
        position: absolute;
        top: 20px;
        color: white;
        font-family: "Snell Roundhand", cursive;
        font-style: italic;
        font-style: oblique;
        text-decoration: none;

    }


    .prihlaseni {
        align-content: center;
        border-style: solid;
        padding: 15px;
        width: 320px;
    }

    #wrapper {
        overflow: hidden;
    }

    #first {
        width: 50%;
        float: left; /* add this */

    }


    .button:hover {
        background-color: #E05EC3;
        color: #f1f1f1;
    }

    #second {
        padding-left: 20%;
        padding-top: 1.0em;
        float: inside;
        overflow: hidden;
    }


    h3, h4 {
        font-family: "Bradley Hand", cursive;
        margin-bottom: 0;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        border-collapse: collapse;
        width: 100%;

        overflow-x: auto;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,
    table td {
        text-align: left;
        padding: 8px;
        padding: .625em;

    }

    table th {
        background: #333;
        color: white;
        font-weight: bold;
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }





}

@media screen and (max-width: 750px) {

    .head_text {

        position: relative;
        color: white;
        font-family: "Snell Roundhand", cursive;
        font-style: italic;
        font-style: oblique;
        text-decoration: none;

    }

    main {
        width: 100%;
        margin: 0 auto;
        background-color: #C2B18F;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 0px;
    }

    nav.menu a {
        display: block;
        color: #8D006E;
        background-color: #333333;
        text-decoration: none;
        font-family: sans-serif;
        line-height: 2em;
        padding: 0 15px;
        font-size: 16px;
        text-align: center;
    }

    table thead {
        border: none;

        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: center;
    }


    header {
        background-color: #C2B18F;
        background-repeat: no-repeat;
        background-size: cover;
    }





}

@media print {

    .obal {
        visibility: hidden;
    }

    header{
         visibility:hidden;
     }

    .menu{
        visibility:hidden;
    }



    menu {
        visibility:hidden;
    }

    footer {
        visibility:hidden;
    }

}







