.button {
    background-color: purple;
    border: #f1f1f1;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.wrong {
    margin-top: 5px;
    padding: 5px;
    background-color: #F00;
    border: 2px solid #666;
    width: auto;
    color: #000000;
}

.good {
    margin-top: 5px;
    padding: 5px;
    background-color: #34ff32;
    border: 2px solid #666;
    width: auto;
    color: #000000;
}


.box {
    background: white;
    width: 300px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 70px 0px;
    border: #2980b9 4px solid;

}

.email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.textJmeno {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}


.password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}


* {
    box-sizing: border-box;
}





/*formulaře*/
input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit] {
    width: 100%;
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



input[type=submit]:hover {
    background-color: #E05EC3;
}



.obal {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}


.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/*@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 90%;
        margin-top: 0;
    }
}*/










table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {

    padding: .625em;
    text-align: center;
}

table th {
    background: #333;
    color: white;
    font-weight: bold;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}





body {
    margin: 0;
    padding: 0;
}

.bodyDiv {
    margin: 0%;

}

.menu {
    display: block;
    padding: 0;
    width: 100%;
    /*background: gray;*/

}

.footerLine {
    text-align: center;

}

main {
    width: 90%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 0px;
}

nav.menu ul {

    list-style-type: none;

    margin: 0;
    padding: 0;

}

nav.menu ul li {
    width: 100%;
    border-bottom-style: solid;

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

nav.menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 2em;
    padding: 0 15px;
    font-size: 16px;
    text-align: center;

}

a.aktivni {
    color: #f1f441;;

}


nav.menu a:hover {
    background: #9542f4;

}

nav.menu {
    display: block;
    width: 100%;

    font-size: 0;
}

footer {
    clear: both;
    position: relative;
    height: 10px;
    margin-top: 0px;
}









